$dark-primary : rgb(0, 0, 0);
$mid-primary : #6f7173;
//--------------------------
$sideboard_background: #DEDEDE;

$logo-col: #341559;

$light-primary: #87888A;
$lighter-primary: #CCC9C9;
$lightest-primary: #f5f5f5;
$light-dark-primary: #87888A;

$small-font: 1.5rem;
$medium-font: 2rem;
//----------------------------
$largest-font: 5rem;
$larger-font: 4rem;
$large-font: 3rem;
$resp-large: 6rem;
$resp-tabport-large : 7rem;
$resp-phone-large: 8rem;
