.menulink{
    cursor: pointer;
    color: $mid-primary;
    &:hover{
        color: $dark-primary;
        font-weight: bold;
    }

    @include respond(tab-port){
        font-size: 2.5rem;
    }
    @include respond(phone){
        font-size: 3rem;
    }
    
}